<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add a movie</title>
	</head>
	<body>
		<h1>Add a movie</h1>

		<form action="/movies/add" method="post">
			{% csrf_token %}
			<label for="title">Title: </label>
			<input type="text" name="title" id="title" placeholder="Movie Title" />
			<br />
			<br />
			<label for="year">Year: </label>
			<input type="text" name="year" id="year" placeholder="Movie Year" />
			<br />
			<br />
			<input type="submit" value="Add movie" />
		</form>
	</body>
</html>
